@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'Hiromisake';
  src: url('/fonts/hiromisake.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #ed3237;
  --secondary-color: #ed323726;
  --secondary-main-color: #f05155;
  --black-1: #000;
  --black-2: #292929;
  --text-light: grey;
  --background: #fefefe;
  --lightgray: #f6f8f9;
  --lightgray-2: #dde2e4;
  --lightgray-3: #e5e9eb;
  --lightgray-4: #eef0f2;
  --midgray-1: #5b6871;
  --midgray-2: #6e7c87;
  --darkgray-1: #1a2024;
  --darkgray-2: #252c32;
  --darkgray-3: #303940;
  --darkgray-4: #48535b;
  --darkgray-5: #48535b;
}

body {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
